<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Chappan Bhog"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant_Management"
        tools:targetApi="31">
        <activity
            android:name=".QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".RateUsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <activity
            android:name=".MyFavoriteActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".DessertsActivity"
            android:exported="false" />
        <activity
            android:name=".BookTableActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".OfferActivity"
            android:exported="false" />
        <activity
            android:name=".DinnerActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".LunchActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".BreakFastActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".JuiceActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".CoffeeActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".TeaActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <!--
         TODO: Before you run your application, you need a Google Maps API key.
           To get one, follow the directions here:
               https://developers.google.com/maps/documentation/android-sdk/get-api-key
             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXKrtmMVOvzYhO9YDMYIdILpIThd8WW3w" />

        <activity
            android:name=".MyLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_my_location" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LottieRegistration"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LottieDone"
            android:exported="false" />
        <activity
            android:name=".LottieFile"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>